form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

.task{
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #B7D2F9;
    border-radius: 6px;
}

#caja-de-tareas{
    background-color: #EAE3FA;
}

.done{
    text-decoration: line-through;
    background-color:cadetblue;
}